@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

.codestorm-page {
  background-image: url("../../assets/codeforces.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fill {
  form {
    background-size: 0% 100% !important;
  }
  to {
    background-size: 100% 100% !important;
  }
}

.strokeme1 {
  font: 500 20px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}
.strokeme1 {
  /* background: radial-gradient( rgb(129, 3, 3),#000000) left no-repeat, #d1d2de00 ; */
  background-size: 0% 100% !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: 004B82 !important;
  transition: 1s ease-in-out !important;
  animation: fill 1s ease-in-out forwards !important;
}

.strokeme1-active {
  background-size: 100% 100% !important;
}
.strokeme2 {
  font: 800 20px Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
.prod {
  background-color: transparent;
  position: absolute;
  right: 3%;
  bottom: 2%;
  font-size: 15px;
}

.codestorm-page section {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* .section--container {
  margin-top: 5vh;
  margin-left: 5vw;
} */

.section--container.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.section--container h1 {
  font-weight: 900;
  font-size: 90px;
  letter-spacing: -6px;
  font-style: italic;
  width: 34%;
  line-height: 5rem;
  font-family: "Nunito Sans", sans-serif;
}

.support--content {
  text-decoration: none;

  z-index: 10;
  font-size: 12px;
  position: relative;
  top: -25%;
  left: 300px;
}

.support--content p {
  width: 350px;
  margin-bottom: 48px;
  line-height: 1rem;
}

.codestorm-page .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.codestorm-page button {
  text-decoration: none;
  /* background-color: #dd5c18; */
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0.09px black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
}

.codestorm-page button:hover {
  box-shadow: inset 250px 0 0 0 black;
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .section--container h1 {
    letter-spacing: 1px;
    line-height: 3rem;
    font-size: 48px;
    /* margin-left: 20%; */
  }

  .color-options {
    margin-bottom: 20px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }

  .support--content {
    top: -10%;
    left: 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button {
  color: white;
  background-color: blue;
  padding: 10px;
  width: 100px;
  font-weight: 800;
  letter-spacing: 2;
  cursor: pointer;
  border-radius: 10px;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin: 10px;
}

.Button:hover {
  background-color: red;
}

.dialog {
  padding: 2px;
  background: white;
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(37, 37, 37, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  background-color: black;
  margin: 0;
  width: 400px;
  height: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: auto;
}

.close {
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

.close > button {
  height: 36px;
  width: 36px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 5px;
}

@keyframes anime {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 40px;
  border-bottom: 1px dashed;
  animation: slidein 2s;
}
.detail-first-child {
  border-top: 1px dashed;
  margin-top: 20px;
}

.detail-header {
  font-weight: bold;
  font-size: 1rem;
}

.detail-content {
  font-size: 1rem;
  padding-left: 5px;
}

.green {
  color: rgb(153, 255, 0);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}
.red {
  color: red;
}

.message {
  font-size: 0.8rem;
}
.small {
  font-size: 0.9rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.errorMessage {
  display: flex;
  align-content: center;
  align-items: center;
}
